* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url('https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbll0eXotTlJPRktIRW1tc1JveTRyRmtPMUtqd3xBQ3Jtc0ttTWdPbnJtWGVUY0lfTW00dkc3SU9UNDRnSlNzM29tLV93SWRLckN2b0t1MW81aTZTUnNUNnI0SmpSTzJsOWhfaWp0WFFTcXhRbjFzQ1o4cVJNNkNQTENzVk41Z0s2TVg5T2hnSnRkakg1WC04UVpRTQ&q=https%3A%2F%2Fsource.unsplash.com%2F1600x900%2F%3Flandscape&v=qxzqEuAOYZ4');

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-big {
    text-align: center;
    background-color: black;
    padding: 25px;
    opacity: 0.7;
    width: 95%;
    max-width: 495px;
    border-radius: 25px;
}

.box-div {
    display: flex;
    align-items: center;
}

input {
    padding: 15px;
    height: 40px;
    transform: translateY(-10px);
    width: 400px;
    color: black;
}

#img-busca {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}


